#footer {
  padding: 2em 0;
  color: #888;
  font-size: 8pt;
}

#search input.button, #search input.submit {
  background: transparent url(/images/submit_button.gif) repeat-x scroll left top;
  border: 1px outset #ccc;
  color: #444;
  text-decoration: none;
  cursor:pointer;
  width: 80px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 12pt;
}

#search input {
  margin: 0; padding: 0;
  vertical-align: center;
}

#search form {
	background: #E3E3E3;  
	border: 1px solid #d7d7d7;
  padding: 1em 0;
  line-height: 1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 100%;
	text-align: center;
}

#search-input {
	font-size: 14pt;
}
