header {
  padding-top: 1em;
}

header > h1 {
  border-bottom: 1px solid #ccc;
  font-size: 26pt;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 2px;
}

#content {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1em 0;
}

#search {
  padding-bottom: 1em;
}

#search p {
  margin: 0;
}

#search input {
  font-size: 18pt;
  width: 46%;
}

#main {
  border-top: 1px solid #ccc;
}