#categories {
  margin: 0; padding: 0;
  padding: 2em 0;
}

#categories .category {
  float: left;
  width: 22em;
  padding: 0 1em 1.5em 1em;
  text-align: left;
  color: #8EA4CF;
}

#categories .category p a, 
#categories .category p a:link,
#categories .category p a:visited {
  color: #666;
  font-size: 10pt;
  background-color: #fff;
  border-bottom: 1px dotted #666;
}

#categories .category p a:hover {
  color: #f00;
}

#categories .category h2 a, 
#categories .category h2 a:link, 
#categories .category h2 a:visited,
#categories .category h2 a:hover {
	color: #36c;
  text-decoration: none;
  background-color: transparent;
  font-size: 13pt;
  border-bottom: 1px dotted #36c;
}

#categoryDetail {
  padding-top: 1em;
}

#categoryDetail h1 {
  font-size: 10pt;
}

#categoryDetail a.selected {
  color: #f00;
  border-bottom: 1px dotted #f00;
}

#popularCategories {
  float: right;
  width: 15em;
  padding-left: 1em;
  border-left: 1px solid #8EA4CF;
  text-align: left;
}

#categoryDetail p {
  display: block;
  border: 1px solid #bbb;
  padding: 1em; margin-top: 1em;
  background: #f7f7f7;
}
