/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
  margin: 0 auto;
  padding: 0;
	width: 74em;
  font: 10pt/16pt Verdana, Helvetica, Arial, sans-serif;
}

a, a:link {
  color: #666;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}

a:visited {
  color: #666;
  border-bottom: 1px dotted #666;
  background-color: transparent;
}

a:hover {
  color: #666;
  text-decoration: none;
  border-bottom: 1px dotted #666;
  background-color: transparent;
}

h1, h2, h3 {
  color: #666;
}

h1 {
  font-size:  15pt;
  font-weight: normal;
}

h2 {
  font-size: 13pt;
}

h2.error {
  color: #f00;
}

li.error {
  color: #f00;
}