<% form_tag search_path, :method => :post do -%>
<p>
 <input id="search-input" type="text" name="query" value="" />
 <a class='large magenta awesome' onclick="document.interview_form.submit();">Search &#x21A9;</a>
</p>
<% end -%>
